* {
    margin: 0;
    padding: 0;
}

body {
    background: #0F0F0F;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    border-radius: 8px;
    background: #1e6f9f;
    color: #f2f2f2;
    padding:0.7rem 1rem ;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor:pointer;
    transition: .2s;

    &:hover {
        background: #4ea8de;
    }
}

img {
    width: 100%;
}

// .App {
//     display: flex;
// }

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 5rem 0;

    img {
        max-width: 30rem;
        margin-bottom: 3rem;
    }

    

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        label {
            font-size: 1.5rem;
            font-weight: bold;
        }

        input {
            padding: 1rem;
            background: #1a1a1a;
            border: 1px solid #0D0D0D;
            box-shadow: 0 4px 4px #00000040;
            border-radius: 8px;
            outline: none;
            color: white;
            width: 28rem;
        }

        &>div {
            display: flex;
            gap: 1rem;
        }
    }
}

.result { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;


    img {
        max-width: 30rem;
    }

    .info {
        display: flex;
        gap: 1rem;

        p {
            text-align: center;
            margin-bottom: 0.5rem;
        }

        img {
            max-width: 20rem;
        }
    }
}